.link {
  text-decoration: none;
}

.link.header {
  color: var(--thirdly-color);
  font-weight: bold;
  transition: color 0.3s;
  display: inline;
  white-space: nowrap;
}

.link.header:hover {
  color: var(--primary-color);
}

.link.burger {
  color: var(--fourthly-color);
  text-decoration: none;
  transition: color 0.3s;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.link.burger:hover {
  color: var(--text-color-hover);
}
