.bm-menu-wrap {
  position: fixed;
  height: 100%;
  right: 0;
  left: auto;
}

.bm-menu {
  background: var(--thirdly-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 10px;
}

.bm-item:hover {
  color: var(--text-color-hover);
}

.bm-burger-bars {
  background: var(--thirdly-color);
}

.bm-overlay {
  background: var(--overlay-bg);
}
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  right: auto;
  top: auto;
}

/* Afficher le burger uniquement sur mobile */
@media (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}
