.bm-menu-wrap {
  position: fixed;
  height: 100%;
  right: 0;
  left: auto;
  top:0;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  color: #d1d1d1;
  text-decoration: none;
  margin-bottom: 10px;
}

.bm-item:hover {
  color: white;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 15px;
}

/* Afficher le burger uniquement sur mobile */
@media (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }
}
