.banner-list-mobile{
    background: #9E643C;
    display: flex;
    width: 280px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size:20px;
    color: #FFFFFF;
    padding: 10px;
}

.banner-list-mobile p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}